:root {
  --primary-bg-color: #fff;
  --secondary-bg-color: #f9f9f9;
  --primary-text-color: #333;
  --secondary-text-color: #444;
  --hover-bg-color: #eaeaea;
  --card-bg-color: #fff;
  --card-border-color: #ddd;
  --card-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --card-hover-bg-color: #f4f4f4;
  --card-hover-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.dark {
  --primary-bg-color: #121212;
  --secondary-bg-color: #1e1e1e;
  --primary-text-color: #e0e0e0;
  --secondary-text-color: #bbb;
  --hover-bg-color: #2e2e2e;
  --card-bg-color: #333;
  --card-border-color: #444;
  --card-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  --card-hover-bg-color: #444;
  --card-hover-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
}

.careers-page {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--primary-bg-color); 
  color: var(--primary-text-color); 
}

.careers-header {
  text-align: center;
  margin-bottom: 40px;
}

.careers-header h1 {
  font-size: 2.5em;
  color: var(--primary-text-color); 
}

.careers-header p {
  font-size: 1.2em;
  color: var(--secondary-text-color); 
}

.career-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.career-card {
  background-color: var(--card-bg-color); 
  border: 1px solid var(--card-border-color); 
  padding: 20px;
  width: 250px;
  max-width: 100%;
  box-shadow: var(--card-shadow); 
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.career-card:hover {
  background-color: var(--card-hover-bg-color); 
  box-shadow: var(--card-hover-shadow); 
}

.career-card h3 {
  font-size: 1.5em;
  color: var(--primary-text-color); 
}

.career-card p {
  font-size: 1.1em;
  color: var(--secondary-text-color); 
  margin: 10px 0;
}

.career-card ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.career-card li {
  font-size: 1em;
  color: var(--secondary-text-color); 
  margin-bottom: 5px;
}

.career-card strong {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .careers-page {
    background-color: var(--primary-bg-color); 
    color: var(--primary-text-color); 
  }

  .careers-header h1, .career-card h3 {
    color: var(--primary-text-color); 
  }

  .careers-header p, .career-card p, .career-card li {
    color: var(--secondary-text-color); 
  }

  .career-card {
    background-color: var(--card-bg-color); 
    border: 1px solid var(--card-border-color); 
  }

  .career-card:hover {
    background-color: var(--card-hover-bg-color); 
    box-shadow: var(--card-hover-shadow); 
  }
}

@media (max-width: 768px) {
  .career-categories {
    flex-direction: column;
    align-items: center;
  }

  .career-card {
    width: 80%; 
  }
}
