:root {
  --primary-bg-color: #f9f9f9;
  --secondary-bg-color: #fff;
  --text-color: #333;
  --button-bg-color: #0073e6;
  --button-hover-bg-color: #005bb5;
  --border-color: #ddd;
  --border-radius: 5px;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --link-hover-color: #005bb5;
}

.dark {
  --primary-bg-color: #121212;
  --secondary-bg-color: #333;
  --text-color: #e0e0e0;
  --button-bg-color: #357a38;
  --button-hover-bg-color: #2f6b33;
  --border-color: #444;
  --border-radius: 5px;
  --shadow-color: rgba(255, 255, 255, 0.1);
  --link-hover-color: #66b3ff;
}

.page-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--primary-bg-color); 
  color: var(--text-color); 
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-color); 
}

.page-container h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
  color: var(--text-color); 
  text-align: center;
  border-bottom: 2px solid var(--button-bg-color); 
  display: inline-block;
  padding-bottom: 5px;
}

.feedback-section form {
  max-width: 700px;
  margin: 0 auto;
}

.feedback-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--text-color); 
}

.feedback-section input,
.feedback-section textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color); 
  border-radius: var(--border-radius); 
  font-size: 1em;
  color: var(--text-color); 
  background-color: var(--secondary-bg-color); 
}

.feedback-section button {
  background-color: var(--button-bg-color); 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius); 
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feedback-section button:hover {
  background-color: var(--button-hover-bg-color); 
}

.social-media-section h1 {
  font-size: 2rem;
  color: var(--text-color); 
  margin-bottom: 20px;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media-icons a {
  text-decoration: none;
  font-size: 2.5rem;
  color: var(--text-color); 
  transition: color 0.3s ease, transform 0.2s ease;
}

.social-media-icons a:hover {
  color: var(--link-hover-color); 
  transform: scale(1.2);
}

.social-media-icons i {
  pointer-events: none; 
}

.support-section {
  text-align: center;
  margin-top: 30px;
}

.support-section p {
  font-size: 1.2em;
  color: var(--text-color); 
}

.support-section a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--button-bg-color); 
  color: white;
  text-decoration: none;
  border-radius: var(--border-radius); 
  font-size: 1em;
  transition: background-color 0.3s;
}

.support-section a:hover {
  background-color: var(--button-hover-bg-color); 
}
