body {
  background-color: #f4f4f4; 
  color: #333; 
  position: sticky;
  transition: background-color 0.3s, color 0.3s; 
}

.navbar {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  background-color: #fbd8d8; 
  transition: background-color 0.3s, border-color 0.3s;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-image {
  height: 40px;
  margin-right: 0.5rem;
}

.logo-text {
  font-size: 1.9rem;
  font-weight:bolder;
  color: #bb6363; 
  text-decoration: none;
}
.logo-text-inside{
  font-size: 1.9rem;
  color: #864b4b; 
  text-decoration: none;
}
.navbar-links {
  display: flex;
  gap: 1rem;
}

.navbar-links a {
  color: #424864; 
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
}

.more-options {
  cursor: pointer;
  font-weight: bold;
  color: #424864; 
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.theme-button {
  background-color: #bb6363;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0px solid #864b4b;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.theme-button:hover {
  background-color: #864b4b ; 
}

.auth-button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #fff; 
  background-color: #bb6363; 
  border: 1px solid #bb6363;
  border-radius: 4px;
  font-weight: bold;
}

.auth-button:hover {
  background-color: #864b4b; 
  border-color: #864b4b;
  color: #fff;
  text-decoration: none;
}

.dropdown-expanded {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
  background-color: #f4e1e1; 
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.dropdown-column h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #424864; 
}

.dropdown-column a {
  display: block;
  color: #424864; 
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.dropdown-column a:hover {
  text-decoration: underline;
}

.login-signup {
  display: flex;
  gap: 1rem;
  justify-content: flex-end; 
  margin-top: 1rem;
  margin-right: 50px;
  grid-column: span 4;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    gap: 1rem;
  }

  .dropdown-expanded {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .login-signup {
    justify-content: flex-end;
    margin-top: 0.5rem;
  }
}

.app.dark body {
  background-color: #333; 
  color: #fff; 
}

.app.dark .navbar {
  background-color: #444; 
  border-bottom: 1px solid #666; 
}

.app.dark .navbar-logo .logo-text,
.app.dark .navbar-links a,
.app.dark .more-options {
  color: #fff; 
}

.app.dark .theme-button {
  background-color: #bb6363; 
  color: #fff;
}

.app.dark .auth-button {
  background-color: #333; 
  border: 1px solid #333;
}

.app.dark .auth-button:hover {
  background-color: #000; 
  border-color: #000;
}

.app.dark .dropdown-expanded {
  background-color: #555; 
  border-top: 1px solid #666; 
}

.app.dark .dropdown-column h3 {
  color: #fff; 
}

.app.dark .dropdown-column a {
  color: #ddd; 
}

.app.dark .dropdown-column a:hover {
  text-decoration: underline;
}

.app.dark .login-signup {
  color: #fff; 
}
